@CHARSET "ISO-8859-1";

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html{
	height: 100%;
	color: #555;
}

body{
	margin: 0;
	min-height: 100%;
	font: 11px tahoma,arial,helvetica,sans-serif;
	background-image:linear-gradient(#4E5354, #FFF);
}

header{
	
}

header div.welcome-logo{
	color: #868A75;
	font-size: 60px;
	height: 70px;
	margin-left: 30px;
	margin-top: 15px;
	position: absolute;
	width: 210px;
}

header div.welcome-logo span{
	color: #FFF;
}

section.welcome-content{
	
}

section.welcome-content div.welcome-main-content{
	background-color: #FFFFFF;
	border: 1px solid #868A75;
	float: right;
	height: 200px;
	margin-right: 200px;
	margin-top: 250px;
	position: relative;
	text-align: center;
	width: 400px;
}

section.welcome-content div.welcome-main-content div.welcome-header-main-content{
	background-color: #868A75;
	height: 25px;
	padding-top: 3px;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content{
	border-left: 1px solid #868A75;
	border-right: 1px solid #868A75;
	bottom: 2px;
	height: auto;
	left: 0;
	overflow-y: auto;
	position: absolute;
	right: 0;
	top: 25px;
	padding-top: 15px;
}

section.welcome-content div.welcome-main-content div.welcome-footer-main-content{
	background-color: #868A75;
	bottom: 0;
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div{
	text-align: left;
	margin-bottom: 15px;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div.welcome-comment-authentication-main-content{
	text-align: center;
	margin-bottom: 25px;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div.welcome-error-authentication-main-content{
	color: red;
	position: absolute;
	text-align: center;
	top: 32px;
	width: 100%;
	display: none;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content label{
	float: left;
	font-size: 11px;
	margin-left: 33px;
	width: 110px;
	font-weight: bold;
	padding-top: 4px;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div input{
	border: 1px solid #DDDDDD;
	color: #888888;
	font: 11px tahoma,arial,helvetica,sans-serif;
	height: 20px;
	padding-left: 5px;
	width: 200px;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div input:focus{
	border: 1px solid #888888;
}

section.welcome-content div.welcome-main-content div.welcome-authentication-main-content div button{
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}
